html, body {
  height: 100%;
  width:100%;
  min-width: 320px; 
  max-width: 1024px; 
  font-family: 'Lato', sans-serif;
  background: #0093d3;
  margin: 0 auto
}

body {
  position: absolute;
}

header{
  width: 100%;
  min-width: 320px; 
  max-width: 1024px; 
  text-align: center;
  color: #fff;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  min-width: 320px; 
  max-width: 1024px; 
  text-align: center;
  background-color: #ffffffa6;
  margin: 30px 0;
  color: #0093d3;
}

header h1{
  text-decoration: underline;
}

.none{
  display: none !important;
}

/*CENTER*/
.wheel{
  height: 150px;
  width: 150px;
  background-image: url(../assets/front-end_icono_celus.png);
  background-repeat: no-repeat;
  background-size: 150px;
  position: absolute;
  left: 44%;
  top: 50%;
  z-index: 1;
}

/*RIGHT ARM*/
.arm {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 126px;
  height: 136px;
  background-image: url(../assets/front-end_enganche.png);
  background-repeat: no-repeat;
  transition: transform 1s linear;
  transform-origin: left;
  transform-style: preserve-3D;
  transform: rotate(15deg);
}

.square{
  width: 100px;
  height: 100px;
  background-image: url(../assets/front-end_icono_home.png);
  background-repeat: no-repeat;
  background-size: 100px;
  position: absolute;
  bottom: 98px;
  left: 75px;
  transition: transform 1s linear;
  transform-origin: center;
  transform-style: preserve-3D;
  transform: rotate(-15deg);
}

.arm-rotate {
  transform: rotate(45deg);
}

.square-rotate {
  transform: rotate(-45deg);
}

.nav {
  display: flex;
  position: absolute;
  bottom: 70px;
  right: -10px;
  transform-origin: center;
  transform-style: preserve-3D;
  transform: rotate(-25deg)
}
  
/*LEFT ARM*/
.circle-nav.home1{
  position: absolute;
  bottom: 50px;
  right: 90px;
  width: 35px;
  height: 35px;
  background-image: url(../assets/front-end_subicono_home1.png);
  background-repeat: no-repeat;
  background-size: 35px;
  transform-style: preserve-3D;
  transform: rotate(26deg);
}

.circle-nav.home2{
  position: absolute;
  bottom: 65px;
  right: 50px;
  width: 35px;
  height: 35px;
  background-image: url(../assets/front-end_subicono_home2.png);
  background-repeat: no-repeat;
  background-size: 35px;
  transform-style: preserve-3D;
  transform: rotate(26deg);
}

.circle-nav.home3{
  position: absolute;
  bottom: 55px;
  right: 10px;
  width: 35px;
  height: 35px;
  background-image: url(../assets/front-end_subicono_home3.png);
  background-repeat: no-repeat;
  background-size: 35px;
  transform-style: preserve-3D;
  transform: rotate(26deg);
}

.circle-nav.home4{
  position: absolute;
  bottom: 25px;
  right: -20px;
  width: 35px;
  height: 35px;
  background-image: url(../assets/front-end_subicono_home4.png);
  background-repeat: no-repeat;
  background-size: 35px;
  transform-style: preserve-3D;
  transform: rotate(26deg);
}

/*FIRST ARM*/
.short-arm {
  position: absolute;
  top: 55%;
  left: 47%;
  width: 126px;
  height: 136px;
  background-image: url(../assets/front-end_enganche.png);
  background-repeat: no-repeat;
  transition: transform 1s linear;
  transform-origin: left;
  transform-style: preserve-3D;
  transform: rotate(-90deg);
}

.small-square{
  width: 100px;
  height: 100px;
  background-image: url(../assets/front-end_icono_buscar.png);
  background-repeat: no-repeat;
  background-size: 100px;
  position: absolute;
  bottom: 100px;
  left: 74px;
  transition: transform 1s linear;
  transform-origin: center;
  transform-style: preserve-3D;
  transform: rotate(90deg);  
}

/*ANIMATIONS*/
.short-arm-rotate {
  transform: rotate(-70deg);
}

.small-square-rotate {
  transform: rotate(70deg);
}

.short-arm-rotate-end {
  transform: rotate(-125deg);
}

.small-square-rotate-end {
  transform: rotate(125deg);
}

/*TEXTS*/
.stick {
  width: 90px;
  height: 90px;
  position: absolute;
  bottom: 12%;
  left: 47%;
  color: #ffffff85;
  border-left: 1px solid;
  padding: 0 5px;
}

.stick::before {
content: '';
display: block;
width: 5px;
height: 5px;
-moz-border-radius: 7.5px;
-webkit-border-radius: 7.5px;
border-radius: 7.5px;
background-color: #fff;
position:  absolute;
left: -3px;
top: 0;
}

.stick::after {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #fff;
  position:  absolute;
  left: -3px;
  bottom: 0;
}

.stick-reg {
  width: 90px;
  height: 90px;
  position: absolute;
  bottom: 39%;
  right: 23%;
  color: #ffffff85;
  border-right: 1px solid;
  padding: 0 5px;
  text-align: right;
}

.stick-reg::before {
content: '';
display: block;
width: 5px;
height: 5px;
-moz-border-radius: 7.5px;
-webkit-border-radius: 7.5px;
border-radius: 7.5px;
background-color: #fff;
position:  absolute;
right: -3px;
top: 0;
}

.stick-reg::after {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #fff;
  position:  absolute;
  right: -3px;
  bottom: 0;
}

.stick-sm {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 35%;
  left: 25%;
  color: #ffffff85;
  border-left: 1px solid;
  padding: 0 5px;
}

.stick-sm::before {
content: '';
display: block;
width: 5px;
height: 5px;
-moz-border-radius: 7.5px;
-webkit-border-radius: 7.5px;
border-radius: 7.5px;
background-color: #fff;
position:  absolute;
left: -3px;
top: 0;
}

.stick-sm::after {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #fff;
  position:  absolute;
  left: -3px;
  bottom: 0;
}

.stick-title{
  font-size: 12px;
  margin: 15px 0 5px 0;
}

.stick-sub{
  font-size: 10px;
  margin: 5px 0;
}

.stick-text{
  font-size: 8px;
  margin: 5px 0 15px 0;
}

.title-result{
  font-size: 25px;
  text-transform: capitalize;
}

.body-result{
  font-size: 15px;
}
/*RESPONSIVE*/
@media (min-width: 320px) and (max-width: 767px) {

  .wheel {
    left: 40%;
    top: 50%;
    height: 125px;
    width: 125px;
    background-size: 125px;
  }
  
  .arm{
    top: 41%;
  }

  .short-arm {
    top: 55%;
    left: 55%;
    width: 126px;
    height: 136px;
  }

  .small-square {
    width: 90px;
    height: 90px;
    background-size: 90px;
    bottom: 94px;
    left: 77px;
  }

  .stick-sm {
    top: 20%;
    left: 10%;
  }

  .stick-reg {
    bottom: 25%;
    right: -10%;
  }

  .stick {
    bottom: 10%;
  }

  .title-result {
    font-size: 10px;
  }

  .body-result {
      font-size: 10px;
  }
  
  header{
    margin:30px; 
  }

  footer{
    margin: 0 30px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) { 
  
  .wheel {
    left: 40%;
    top: 40%;
    height: 200px;
    width: 200px;
    background-size: 200px;
  }

  .arm{
    top: 36%;
    left: 55%;
  }

  .square {
    width: 150px;
    height: 150px;
    background-size: 150px;
    bottom: 90px;
    left: 65px;
  }

  .nav{
    bottom: 127px;
    right: 24px;
  }

  .short-arm{
    top: 47%;
    left: 38%;
  }
  
  .small-square {
    width: 130px;
    height: 130px;
    background-size: 130px;
    bottom: 75px;
    left: 53px;  
  }

  .stick-sm {
    top: 27%;
    left: 16%;
  }

  .stick-reg {
    bottom: 45%;
    right: 15%;
  }

  .stick {
    bottom: 31%;
  }

  header{
    margin:30px; 
  }

  footer {
      margin: 30px 0 0 15px;
  }

}
